<div ng-controller="GameController">
    <div id="game-logo" ng-show="!status.presentation">
        <picture>
            <img src="images/logo.svg" width="150" alt="">
        </picture>
    </div>
    <div id="game-container">

    </div>
    <div id="player-list">
        <ul>
            <li ng-repeat="player in game.playerList" ng-show="!player.dead">
                <span style="background-color: {{ player.color }}"></span>
                <strong>{{ player.name || 'Unkown' }}</strong>
            </li>
        </ul>
    </div>

    <div id="waiting-for-socket-overlay" ng-show="!status.socketInitialized">
        waiting for socket
    </div>
    <div id="waiting-for-phaser-overlay" ng-show="!status.gameInitialized">
        TODO: waiting for game
    </div>

    <div id="presentation" ng-show="status.presentation">
        <div id="indicator">{{presentation.indicator}}</div>
        <div ng-show="status.index === 1" class="slide">
            <h1>what's the issue?</h1>
            <h2>people dont meet irl</h2>
            <h2>people dont move enough</h2>
            <h2>missing social interaction</h2>
        </div>
        <div ng-show="status.index === 2" class="slide">
            <h1>solving these problems</h1>
            <h2>bla</h2>
            <h2>bla</h2>
            <h2>bla</h2>
        </div>
        <div ng-show="status.index === 3" class="slide">
            <h1>our stack</h1>
            <h2><div class="icon">🕹</div> nodejs-backend as gameserver</h2>
            <h2><div class="icon">⌚</div> android-app for wristband</h2>
            <h2><div class="icon">📱</div> responsive web-app</h2>
            <h2><div class="icon">💻</div> angular-web-app</h2>
        </div>
        <div ng-show="status.index === 4" class="slide">
            <h1>infrastructure diagram</h1><br>
            <figure>
                <img src="images/infrastructure.png" width="1200" alt="">
            </figure>
        </div>
        <div ng-show="status.index === 5" class="slide">
            <div class="image-slide">
                <div class="text">
                    <h1>nodejs-backend</h1>
                    <h2><div class="icon ">🕹</div> gameserver</h2>
                    <h2>handling all game-related stuff</h2>
                </div>
                <figure>
                    <img src="images/iphone_app.png" width="300" alt="">
                </figure>
            </div>
        </div>
        <div ng-show="status.index === 6" class="slide">
            <div class="image-slide">
                <div class="text">
                    <h1>android app</h1>
                    <h2><div class="icon">👊</div> playing with gesture wrist band</h2>
                </div>
                <figure>
                    <img src="images/iphone_app.png" width="300" alt="">
                </figure>
            </div>
        </div>
        <div ng-show="status.index === 7" class="slide">
            <div class="image-slide">
                <div class="text">
                    <h1>reponsive web-app</h1>
                    <h2><div class="icon wrist">📱</div> playing without wrist-band</h2>
                </div>
                <figure>
                    <img src="images/mobile_web_app.jpeg" width="300" alt="">
                </figure>
            </div>
        </div>
        <div ng-show="status.index === 8" class="slide">
            <h1>future goals?</h1>
        </div>
        <div ng-show="status.index === 9" class="slide">
            <h1>future goals?</h1>
        </div>
    </div>

    <div id="intro" ng-show="status.intro">
        <figure class="text-center">
            <picture>
                <img src="images/logo.svg" width="500" alt="">
            </picture>
            <h1>the gesture driven multiplayer game</h1>
        </figure>
    </div>

    <div ng-show="!status.intro" id="timer">Timer: <span id="counter">{{status.timer}}</span></div>
</div>